// Variables
$danger: red;
$warning: orange;
$success: green;
$dark: black;
$light: grey;

h1{
    color: $dark;
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    color: $dark;
    background: $light;

    &:hover{
        background: $dark;
        color: white;
    }

    &-danger{
        background: $danger;
    }
    
    &-warning{
        background: $warning;
    }
}
