@import "variables.scss";
@import "mixins.scss";

h1{
    color: $dark;
}

h2{
    @include camion();
}

.btn{
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
    color: $dark;
    background: $light;

    &:hover{
        background: $dark;
        color: white;
    }

    &-danger{
        background: $danger;
    }
    
    &-warning{
        background: $warning;
    }
}
